.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;
}
@media screen and (max-width: 500px) {
  .main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 730px) {
  .main {
    gap: 0;
  }
}

.main section {
  background-color: #fff;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-size: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header p {
  opacity: var(--opacity);
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer div p:first-child {
  font-size: 15px;
  opacity: var(--opacity);
}

.footer div p:last-child {
  font-weight: 700;
  font-size: 16px;
}

.footer p span {
  font-size: 10px;
  color: var(--primary-increment);
}
