.main {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
@media screen and (max-width: 600px) {
  .main {
    padding-inline: 10px;
  }
}

.main section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.iPhoneCon {
  width: 32%;
  line-height: 0.7cm;
  font-weight: 700;
}

.statusCon {
  width: 50%;
  text-align: right;
  font-size: 12px;
  line-height: 0.7cm;
}

.statusCon button {
  border: none;
  padding: 2px 12px;
  border-radius: 5px;
  text-transform: capitalize;
}
.pending {
  color: #d47676;
  background-color: #fef0ef;
}
.completed {
  background-color: #e6f2ee;
  color: #76b188;
}
