.section {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media screen and (max-width: 500px) {
  .section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.leftChart {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header p:last-child {
  font-size: 12px;
  opacity: var(--opacity);
}

.leftChart div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.leftChart div:last-child {
  width: fit-content;
  margin: 20px auto;
}
@media screen and (max-width: 500px) {
  .leftChart div:last-child {
    margin-bottom: 0px;
  }
  .leftChart div:last-child img {
    width: 100px;
  }
}

.rightChart {
  width: 100%;
}

.rightChart > div:first-child {
  width: 100%;
  background-color: var(--primary-purple);
  border-radius: 8px;
  padding: 20px;
}

.rightChart > div:first-child > img:first-child {
  margin-bottom: 30px;
}

.rightChart > div:nth-child(2) {
  background-color: #fff;
  border-radius: 8px;
  margin-top: 10px;
  padding: 20px;
}

.rightChart > div:nth-child(2) div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
