.main {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}
@media screen and (max-width: 1080px) {
  .main {
    width: 100%;
  }
}

.main header {
  display: flex;
  justify-content: space-between;
}

.name {
  width: 50%;
  padding-left: 5px;
}
.name p {
  margin-block: 10px;
  font-weight: 600;
}

.main header > p {
  width: 20%;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--primary-light-orange);
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.profile {
  width: 20%;
}
.profile p {
  font-size: 12px;
  font-weight: 600;
  color: var(--primary-purple);
  cursor: pointer;
  text-align: right;
}
.profile div {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.profile img {
  width: 20px;
  margin-right: 5px;
}
.profile span {
  font-size: 12px;
}

hr {
  opacity: var(--opacity);
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  .main {
    padding: 10px 5px;
  }
  .name {
    width: 65%;
  }
  .name p {
    font-size: 12px;
  }
  .name img {
    width: 100px;
  }
  header > p {
    display: none;
  }
  .profile p {
    text-align: left;
  }
  .profile div {
    display: none;
  }
}

/* =================== */
/* Chat Content CSS */
.chatContent .div {
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
  font-size: 12px;
  width: 300px;
}
@media screen and (max-width: 600px) {
  .chatContent .div {
    width: 200px;
  }
}

.chatContent .div div {
  margin-block: auto;
  width: 60%;
}

.chatContent .div div p:first-child {
  margin-bottom: 5px;
}

.chatContent .div > p {
  margin-top: auto;
  margin-bottom: 5px;
}

/* ================== */
/* Show Contact Arrow */
.showContact {
  position: fixed;
  top: 90px;
  left: 25px;
  font-size: 30px;
  color: var(--primary-purple);
  cursor: pointer;
  animation: shake ease-in-out 1s infinite;
  display: none;
}
@keyframes shake {
  0% {
    font-size: 20px;
  }
  100% {
    font-size: 25px;
  }
}

@media screen and (max-width: 900px) {
  .addArrow {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .addArrow {
    font-size: 20px;
  }
}
