@media screen and (min-width: 1120px) {
  .main {
    width: fit-content;
  }
}
@media screen and (max-width: 900px) {
  .main {
    display: none;
  }
  .addDisplay {
    display: block;
  }
}

.main section {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.main section > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchCon {
  position: relative;
}

.searchCon input {
  padding-block: 10px;
  padding-left: 3rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}
.searchCon input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.searchIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  opacity: var(--opacity);
  cursor: pointer;
}

/* =================== */
/* Contact List CSS */
.people {
  background-color: #fff;
  margin-top: 3px;
  padding: 12px 10px;
  display: flex;
  cursor: pointer;
}
.addBg {
  background-color: #fff;
}
@media screen and (min-width: 1120px) {
  .people {
    width: 330px;
  }
}

.people div {
  font-size: 14px;
}

.people img {
  width: 40px;
}

.people div:nth-child(2) {
  margin-left: 8px;
}

.people div:nth-child(2) p:first-child {
  font-weight: 600;
}

.people div:nth-child(3) {
  margin-left: auto;
}

.people div:nth-child(3) p:first-child {
  background-color: var(--primary-light-orange);
  width: fit-content;
  font-size: 12px;
  padding: 5px;
  margin-left: auto;
}

.people div p:last-child {
  font-size: 12px;
  margin-top: 10px;
}

.addStatus {
  visibility: hidden;
}
.addSingleStatus {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
