.date {
  font-size: 14px;
  background-color: var(--primary-gray);
  width: fit-content;
  margin: 30px auto 10px;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .date {
    font-size: 12px;
  }
}
