.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main p {
  font-weight: 600;
  opacity: var(--opacity);
}

.main button {
  background-color: var(--primary-purple);
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: ease 0.7s all;
}

.main button:hover {
  opacity: var(--opacity);
}

@media screen and (max-width: 710px) {
  .main p {
    font-size: 12px;
  }

  .main button {
    font-size: 12px;
    padding: 5px;
  }
}
