.main {
  margin-top: 15px;
  margin-left: auto;
  width: fit-content;
}

.main div:first-child {
  background-color: var(--primary-light-orange);
  width: fit-content;
  max-width: 300px;
  border-radius: 12px 12px 0px 12px;
  padding: 15px 10px;
  font-size: 14px;
}

.main div:nth-child(2) {
  width: fit-content;
  margin-left: auto;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.main div:nth-child(2) p {
  font-size: 14px;
  margin-right: 10px;
}

@media screen and (max-width: 710px) {
  .main div:first-child {
    width: 200px;
  }
}
