.main {
  margin-top: 15px;
}

.main div {
  background-color: var(--primary-purple);
  width: fit-content;
  max-width: 300px;
  border-radius: 12px 12px 12px 0px;
  padding: 15px 10px;
  font-size: 14px;
  line-height: 0.5cm;
}

.main div > p {
  color: #fff;
}
.main > p {
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-width: 710px) {
  .main div {
    width: 200px;
  }
}
