.section {
  position: relative;
  margin-top: 20px;
}

.section textarea {
  resize: none;
  padding: 15px 7.5rem 5px 3.2rem;
  width: 100% !important;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}
.section textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 600px) {
  .section textarea::placeholder {
    font-size: 12px;
    padding-top: 5px;
  }
}

.section img {
  cursor: pointer;
}

.section img:nth-child(2) {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 20px;
  transform: translateY(-30%);
}
.section img:nth-child(3) {
  position: absolute;
  right: 100px;
  width: 20px;
  top: 50%;
  transform: translateY(-30%);
}
.section img:nth-child(4) {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 80px;
  transform: translateY(-40%);
}

@media screen and (max-width: 600px) {
  .section img:nth-child(2) {
    left: 5px;
    width: 20px;
  }
  .section img:nth-child(3) {
    right: 92px;
    width: 15px;
  }
  .section img:nth-child(4) {
    width: 70px;
  }
  .section textarea {
    padding-inline: 2rem 6rem;
  }
}
