*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  /* colors */
  --primary-purple: #5570f1;
  --primary-gray: #efeff0;
  --primary-light-orange: #fff5e9;
  --primary-increment: #7cb58c;

  --opacity: 0.7;
}

/* Toastify Pop up nitification */
.custom-toast {
  max-width: 250px;
}

/* The whole dashboard CSS */
.dashboard {
  width: 100%;
  display: flex;
}

.outlet-con {
  width: 100vw;
}

.dasboard-body {
  background-color: var(--primary-gray);
  padding: 20px 10px;
}
@media screen and (max-width: 600px) {
  .dashboard-body {
    padding: 10px 5px;
  }
}

.charts-and-order {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  justify-items: flex-end;
  margin-block: 20px;
}
@media screen and (max-width: 500px) {
  .charts-and-order {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* ================== */
/* Conversation CSS */
.conversation-body {
  background-color: var(--primary-gray);
  padding: 20px 10px;
}
@media screen and (max-width: 600px) {
  .conversation-body {
    padding: 10px 5px;
  }
}

.contact-con {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
@media screen and (min-width: 1120px) {
  .contact-con {
    grid-template-columns: 1fr 6fr;
  }
}
@media screen and (max-width: 900px) {
  .contact-con {
    grid-template-columns: 6fr;
  }
}
