.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 15px;
  width: 100%;
}

.header > div p {
  font-weight: 700;
}

.header > div img {
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .header > div img {
    width: 15px;
  }
  .header span {
    font-size: 12px;
  }
}

.rightSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.rightSide button {
  background-color: var(--primary-light-orange);
  border: none;
  padding: 8px 5px;
  width: 60%;
  border-radius: 8px;
}

@media screen and (max-width: 1050px) {
  .rightSide {
    width: 50%;
  }
}

@media screen and (max-width: 550px) {
  .header > div p {
    font-size: 13px;
  }
  .rightSide {
    width: 80px;
  }
  .rightSide button {
    display: none;
  }
}
