.div img {
  cursor: pointer;
}

.div img:last-child {
  display: none;
}

@media screen and (max-width: 1200px) {
  .div img:first-child {
    display: none;
  }

  .div img:last-child {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .div img:last-child {
    width: 35px;
  }
}
