.main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
  width: 100vw;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}
.removeScale {
  transform: scale(0);
}
.addScale {
  transition: scale(1);
  transition: ease 1s all;
}

.main section {
  text-align: center;
  background-color: #fff;
  padding: 30px 10px;
  border-radius: 8px;
  width: 300px;
}

.main section button {
  margin-top: 20px;
  margin-inline: 10px;
  width: 80px;
  padding-block: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.main section button:nth-child(2) {
  transition: ease 0.5s all;
}
.main section button:nth-child(2):hover {
  background-color: var(--primary-increment);
  color: #fff;
}

.main section button:last-child {
  background-color: rgb(170, 29, 29);
  color: #fff;
  transition: ease 0.5s all;
}
.main section button:last-child:hover {
  background-color: rgb(211, 30, 30);
}
