/* Uppper Nav */
.main {
  min-height: 100vh;
  width: 300px;
  padding: 10px 15px 30px;
}
@media screen and (max-width: 1200px) {
  .main {
    width: fit-content;
  }
}

.main aside {
  height: 100%;
}

.main aside nav {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-between;
  margin-top: 2rem;
}

.upperNav {
  margin-inline: auto;
}

.main nav .upperNav a {
  text-decoration: none;
  color: #000;
}

.main nav .upperNav li {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 8px;
  list-style-type: none;
  margin-bottom: 10px;
}
.active {
  background-color: var(--primary-purple);
  color: #fff;
}

.main nav li img {
  margin-right: 10px;
}
.dashboardIconBg {
  background-color: #bcbcbc;
}
@media screen and (max-width: 1200px) {
  .addWidth {
    width: fit-content;
  }
  .addSideBarContent {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .main {
    padding: 0px;
  }
  .main nav .upperNav li {
    padding: 3px;
  }
  .main nav li img {
    margin-right: 0px;
    width: 20px;
  }
}

/* ================ */
/* Lower Nav */
.lowerNav {
  margin-inline: auto;
}

.lowerNav a {
  text-decoration: none;
  color: #000;
}

.main nav .lowerNav li {
  display: flex;
  align-items: center;
  border-radius: 8px;
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 13px;
  cursor: pointer;
}

.main nav .lowerNav > a:first-child li {
  background-color: var(--primary-gray);
  padding: 5px 10px;
}

.giftCon {
  background-color: var(--primary-light-orange);
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
}

.giftCon > p {
  font-size: 12px;
  opacity: 0.8;
}

.main nav .lowerNav > li:last-child {
  margin: 3rem 0 0 10px;
}

@media screen and (max-width: 500px) {
  .main nav .lowerNav > a:first-child li {
    padding: 2px 5px;
  }
  .giftCon {
    padding: 2px 5px;
  }
  .main nav .lowerNav > li:last-child {
    margin: 2rem 0 0 5px;
  }
}
